root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 4
max_line_length = 1000
trim_trailing_whitespace = true

[*.{js,jsx}]
indent_size = 4

[*.{html,css,json,yml}]
indent_size = 4

[*.md]
indent_size = 4
